<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title>Socket Server</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/raphael.min.js"></script>
    <script> 
      var socket = new io.Socket(); 
      socket.on('connect', function() { console.log("Connection to server has been established.") }) 
      socket.on('message', function(message) { updateWorld(message); }) 
      socket.on('disconnect', function() { console.log("The connection has been closed!") }) 
    </script> 
  </head>
  <body>
    <script>
      // Creates canvas 320 × 200 at 10, 50
      var world_size = 1000;
      var paper = Raphael(10, 10, world_size, world_size);
      var c = paper.rect(0, 0, world_size, world_size);
      
      function Monster(name, x, y, direction){
        this.monster_image_width = 30;
        var possible_colors = [
          "#f00",
          "#0f0",
          "#00f",
          "#a00",
          "#0a0",
          "#00a",
          "#800",
          "#080",
          "#008",
          "#600",
          "#060",
          "#006",
          "#400",
          "#040",
          "#004"
        ];
        this.current_x = x;
        this.current_y = y;
        this.current_direction = direction;
        this.monster_set = paper.set();
        this.name = name;
        this.color = possible_colors[Math.random(possible_colors.length)];
        
        this.move = function(x, y, direction) {
          var path_to_animate_along = paper.path("M"+this.current_x+" "+this.current_y+"L"+x+" "+y);
          // path_to_animate_along.hide();
          // direction = Raphael.deg(direction);
          if(this.current_direction!=direction) { this.monster_img.rotate(direction); }
          this.monster_img.animate({x:(x-(this.monster_image_width/2)), y:(y-(this.monster_image_width/2))}, 100);
          this.monster_name.animate({x:x, y:y}, 100);
          this.current_x = x;
          this.current_y = y;
          this.current_direction = direction;
          console.log(this.name + " moved to "+this.current_x+"/"+this.current_y+" and looking to "+this.current_direction);
        }
        
        this.initial_draw = function() {
          this.monster_img = paper.set();
          this.monster_img = paper.image("panzer.png", x-(this.monster_image_width/2), y-(this.monster_image_width/2), this.monster_image_width, this.monster_image_width);
          this.monster_name = paper.text(x, y, this.name);
          this.monster_img.rotate(direction);
          this.monster_name.rotate(direction);
          this.monster_name.attr("fill", this.color);
          this.monster_name.attr("font", '14px "Arial"');
        }
        
        this.initial_draw();
      }
      
      //monster = new Monster("Andi", 50, 50, Raphael.rad(90));
      //monster.move(100,100, Raphael.rad(180));
      socket.connect();
      
      var active_players = {};
      
      function updateWorld(message) {
        message.players.forEach(function (player){
          //console.log(player);
          if(!active_players[player.id]){
            active_players[player.id] = new Monster(player.name, player.position.x, player.position.y, Raphael.deg(player.direction));
          } else {
            active_players[player.id].move(player.position.x, player.position.y, Raphael.deg(player.direction));
          }
        });
      }
    </script>
  </body>
</html>
